params {
    /***********************
        SYSTEM PARAMETERS
    ************************/
    lgThreads = 14
    lowThreads = 4
    lgMem = 256 // Memory available for large jobs

    /***********************
        Module Management
    ************************/
    skip_qc = false
    skip_assembly = false
    skip_binning = false
    skip_bin_refinement = true
    skip_binqc = true
    skip_classification = true
    skip_annotation = true

    /**************************
        Directory management
    ***************************/
    resultsDir = "${launchDir}"     // Where to save the results

    skip_database_download = false  // Only skip if all necessary databases are set (see below)
    databaseDownloadDir = "${launchDir}/databases" // Where to download 

    // Database directories:
    


    /***************************
        READ INPUT PARAMETERS
    ****************************/

    // Input reads from samples.csv
    reads_file = "${launchDir}/samples.csv"

    // Short_reads
    short_reads = true // "${launchDir}/data/paired_X/*{1,2}.fastq.gz"
    paired_short_reads = true // [ true, false ] Are the short reads paired?
    short_reads_corrected = false // [ true, false ] Have the short reads been previously corrected?

    // Long reads
    nanopore_reads = false // "${launchDir}/data/nanopore/*"
    nanopore_hq = false // [ true, false ] Are the specified Nanopore heads hq (produced with chemistry v14+)?
    nanopore_reads_corrected = false // [ true, false ] Have the Nanopore reads been previously corrected?

    pacbio_reads = false
    pacbio_hifi = false // [ true, false ] Are the specified PacBio reads HiFi?
    pacbio_reads_corrected = false // [ true, false ] Have the PacBio reads been previously corrected?

    /*******************************************
        QUALITY CONTROL & TRIMMING PARAMETERS
    ********************************************/
    /* Host reference genome : will be used for short and/or long reads */
    host_genome = "/data/users/danross/databases/GRCh38_p14/GCA_000001405.29/GCA_000001405.29_GRCh38.p14_genomic.fa" // ['false', $path_to_fasta.fa]

    /* SHORT READ QC */
    skip_fastqc = false
    skip_fastp = false
    remove_phiX = true
    phiX = "${projectDir}/reference_genomes/phiX174_virus.fa"
    short_read_filter = 'bowtie2' // ['bowtie2', 'minimap2']
    minimap2_short_read_preset = false // [Defaults to 'sr' when false]
    bowtie2_sensitivity = 'very-sensitive-local'
    

    /* NANOPORE QC */
    skip_toulligqc = false
    toulligqc_input_type = 'fastq/ bam only' // ['sequencing_summary only', 'sequencing_summary + telemetry_source', 'telemetry_source + fast5', 'fastq/ bam only']
    toulligqc_sequencing_summary_source = [] // Basecaller sequencing summary source, can be compressed with gzip (.gz) or bzip2 (.bz2)
    toulligqc_telemetry_source = [] // Basecaller telemetry file source, can be compressed with gzip (.gz) or bzip2 (.bz2)
    toulligqc_fast5_source = [] // Fast5 file source
    toulligqc_bam_source = [] // BAM file source

    skip_fastplong = false

    minimap2_nanopore_preset = false // [Defaults to 'lr:hq' for hq or corrected reads, 'map-ont' otherwise] Also used in Binning preparation

    /* PACBIO QC */
    minimap2_pacbio_preset = false // [Defaults to 'map-hifi' for hifi or corrected reads, 'map-pb' otherwise] Also used in Binning preparation

    /*************************
        ASSEMBLY PARAMETERS
    **************************/
    assembly_mode = 'coassembly' // ['coassembly', 'grouped', 'per_sample']

    /* SHORT READ ASSEMBLY */
    assembler_short_reads = 'megahit' // ['hipmer', 'gatb', 'megahit', 'spades']
    // MEGAHIT pre-set parameters
    megahit_preset = 'meta-large'
    additional_megahit_options = []
    // SPAdes pre-set parameters
    spades_use_meta = true // Runs SPAdes with "--meta" option, given paired reads
    additional_spades_options = []
    // HipMer pre-set parameters
    hipmer_depths = true
    // GATB pre-set parameters

    /* LONG READ ASSEMBLY*/
    assembler_long_reads = 'flye' // ['flye', 'canu', 'mdbg']
    // Flye pre-set parameters
    // If unspecified, read type will be determined using long-read input parameters (see above)
    flye_read_type = false // ['pacbio-raw', 'pacbio-corr', 'pacbio-hifi', 'nano-raw', 'nano-corr', 'nano-hq']
    flye_use_meta = true // Runs Flye with "--meta" option
    flye_genome_size = [] //
    // Canu pre-set parameters

    // MDBG pre-set parameters

    /* HYBRID ASSEMBLY*/
    skip_spadeshybrid = true // set as false to assemble complementary short and long reads


    skip_quast = false
    skip_prodigal = false


    /************************
        BINNING PARAMETERS
    *************************/

    binning_mode = 'per_assembly' // ['per_assembly', 'grouped', 'cobinning']

    // Default binner for all reads
    skip_semibin2 = false
    use_semibin1 = false // SemiBin1 is deprecated, only use for back-compatibility
    semibin_environment = 'global' // ['human_gut', 'dog_gut', 'ocean', 'soil', 'cat_gut', 'human_oral', 'mouse_gut', 'pig_gut', 'built_environment', 'wastewater', 'chicken_caecum', 'global']

    // Short read oriented
    skip_aamb = true
    skip_vamb = true
    skip_comebin = true // Requires GPU
    skip_metabinner = true
    skip_metabat2 = false
    skip_maxbin2 = false
    skip_concoct = true
    // Uses assembly graphs
    skip_repbin = true
    skip_unitigbin = true
    skip_hmbin = true
    // Long read oriented
    skip_lrbinner = true
    min_contig_size = 1500
    min_length_unbinned_contigs = 1000000
    max_unbinned_contigs = 100

    bin_domain_classification_tool = 'tiara'
    skip_bin_domain_classification = true

    bin_refinement = 'dastool' // ['dastool', 'metawrap']
    refine_bins_dastool_threshold = 0.5

    postbinning_input = 'refined_bins_only' // ['refined_bins_only', 'raw_bins_only', 'both']
    exclude_unbins_from_postbinning = true

    // Bin QC
    binqc_tool                           = 'checkm2' // ['checkm', 'checkm2', 'busco']
    busco_db                             = null
    busco_auto_lineage_prok              = false
    save_busco_db                        = false
    busco_clean                          = false
    checkm_download_url                  = "https://zenodo.org/records/7401545/files/checkm_data_2015_01_16.tar.gz"
    checkm_db                            = null
    save_checkm_data                     = false
    checkm2_db                           = "/data/users/danross/databases/CheckM2/CheckM2_database/uniref100.KO.1.dmnd"
    checkm2_db_version                   = 5571251 // corresponds to Zenodo record  ID
    save_checkm2_data                    = false
    run_gunc                             = false
    gunc_database_type                   = 'progenomes'
    gunc_db                              = null
    gunc_save_db                         = false

    // taxonomy options
    centrifuge_db                        = null
    kraken2_db                           = null
    skip_krona                           = false
    krona_db                             = null
    cat_db                               = null
    cat_db_generate                      = false
    cat_official_taxonomy                = false
    save_cat_db                          = false
    skip_gtdbtk                          = false
    gtdb_db                              = "/data/users/danross/databases/GTDB_V08_R214/"
    gtdb_version                         = 2.3 // If using a gtdb database pre-r220, and therefore a download pre-2.4.0. This changes the summary.tsv produced by gtdb-tk
    //gtdb_db                              = "https://data.gtdb.ecogenomic.org/releases/release220/220.0/auxillary_files/gtdbtk_package/full_package/gtdbtk_r220_data.tar.gz"
    gtdb_mash                            = null
    gtdbtk_min_completeness              = 50.0
    gtdbtk_max_contamination             = 10.0
    gtdbtk_min_perc_aa                   = 10
    gtdbtk_min_af                        = 0.65
    gtdbtk_pplacer_cpus                  = 1
    gtdbtk_pplacer_useram                = false

}


docker.fixOwnership = true
//docker.enabled = true
conda.enabled = true

/*
profiles {
    use_docker {
        docker.enabled = true
    }
    use_conda {
        conda.enabled = true
    }
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    hpc_conda {
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits = [
            memory: ,
            cpus: ,
            time: 
        ]
    }
}


process {
    // defaults for all processes
    cpus = 2
    memory = 2.GB
    // allocations for a specific process
    withName: 'GATK_JOINTGENOTYPING' {
        cpus = 8
    }
}
*/

workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}

workflow.onError = {
    println "Error: something when wrong"
}