params {
    /***********************
        SYSTEM PARAMETERS
    ************************/
    maxMem      = 124.GB    // [ INT.GB ] Memory available for large jobs
    maxCores    = 16        // [ INT ] Memory available for medium jobs

    use_gpu     = false     // [ true, false ] 


    /***********************
        Module Management
    ************************/
    resultsDir              = "${launchDir}"                            // Path to directory where the results will be saved
    database_config         = "${projectDir}/configs/databases.config"  // Path to the database configuration file

    skip_qc                 = false     // [ true, false ] Skip read quality control
    skip_read_taxonomy      = false     // [ true, false ] Skip read taxonomy (Kraken2)
    
    skip_assembly           = false     // [ true, false ] Skip contig assembly 
    skip_contig_polishing   = true      // [ true, false ] Skip contig polishing (by Medaka)
    skip_quast_contigs      = false     // [ true, false ] Skip contig evaluation
    skip_contig_taxonomy    = false     // [ true, false ] Skip contig taxonomy (required for Taxvamb)
    skip_contig_coverage    = false     // [ true, false ] Skip contig coverage reports (by CoverM)
    
    skip_binning            = false     // [ true, false ] Skip binning
    skip_bin_refinement     = false     // [ true, false ] Skip bin refinement (requires >= 2 binners used)
    skip_bin_dereplication  = false     // [ true, false ] Skip bin dereplication (requires >= 2 bin groups)
    //skip_binqc = true               
    skip_bin_evaluation     = false     // [ true, false ] Skip bin evaluation (by CheckM / CheckM2)
    skip_bin_coverage       = false     // [ true, false ] Skip bin coverage reports (by CoverM)
    skip_classification     = false     // [ true, false ] Skip bin classification (by GTDB-TK) 
    skip_annotation         = false     // [ true, false ] Skip bin annotation (by DRAM)


    /***************************
        READ INPUT PARAMETERS
    ****************************/
    reads_file  = "${launchDir}/samples.csv"    // Path to the sample.csv file

    // ILLUMINA READS
    short_reads = false                 // [ true, false ] Are there input short reads?
    paired_short_reads = false          // [ true, false ] Are the short reads paired?
    short_reads_corrected = false       // [ true, false ] Have the short reads been previously corrected?

    // NANOPORE READS
    nanopore_reads = false              // [ true, false ] Are there input nanopore reads?
    nanopore_hq = false                 // [ true, false ] Are the specified Nanopore heads hq (Chemistry v14+)?
    nanopore_reads_corrected = false    // [ true, false ] Have the Nanopore reads been previously corrected?

    // PACBIO READS
    pacbio_reads = false                // [ true, false ] Are there input pacbio reads?
    pacbio_hifi = true                  // [ true, false ] Are the specified PacBio reads HiFi?
    pacbio_reads_corrected = false      // [ true, false ] Have the PacBio reads been previously corrected?


    /******************************************
        QUALITY TRIMMING & FILTER PARAMETERS
    *******************************************/
    // Host reference genome will be used for short and/or long reads
    host_genome                 = false     // "/data/users/danross/FLONGLE_bacillus/Bacillus-subtilis-168-genome.fasta" // ['false', $path_to_fasta.fa]

    // ILLUMINA READS
    skip_fastqc                 = false     // [ true, false ] Skip generating fastqc read reports?
    skip_short_read_trimming    = false     // [ true, false ] Skip trimming short reads?
    short_read_trimmer          = 'fastp'   // [ 'fastp', 'trimmomatic' ]
    remove_phiX                 = true      // [ true, false ]
    
    // NANOPORE READS
    skip_toulligqc              = false     // [ true, false ] Skip generating Nanopore read reports?
    skip_ont_fastplong          = false     // [ true, false ] Skip Nanopore read quality assessment and adapter trimming with fastplong?
    
    // PACBIO READS
    skip_pb_fastplong           = true      // [ true, false ] Skip PacBio read quality assessment and adapter trimming with fastplong?
    

    /*************************
        ASSEMBLY PARAMETERS
    **************************/
    assembler_short_reads   = 'megahit'     // [ 'hipmer', 'gatb', 'megahit', 'spades' ]
    assembler_long_reads    = 'hifiasm'     // [ 'hifiasm', 'flye', 'mdbg' ]
    skip_spadeshybrid       = true          // [ true, false ] set as false to assemble complementary short and long reads together


    /***************************************
        READ & CONTIG TAXONOMY PARAMETERS
    ****************************************/
    skip_krona      = false     // [ true, false ] Skip generating taxonomy html visualizations with Krona
    skip_bracken    = false     // [ true, false ] Skip calculating taxon relative abundances with Bracken
                                // Bracken setup requires running Kracken2 on its hashk2d file:
                                //  it will require >2x the hashk2d file size worth of RAM to run without memory-mapping, and potentially days to run with
                                //  we recommend running Bracken setup manually before running it in MAGnolia
    
    // Kracken2
    kraken2_memory_mapping  = true  // [ true, false ] "--memory-mapping" : Avoids preloading full database into memory. Decreases RAM requirements, but is slower
    
    // Bracken
    bracken_classification_level    = 'G'   // [ 'D','P','C','O','F','G','S' ] Specifies the taxonomic rank to analyze.
    bracken_kmer_len                = 35    // [ default: 35 for Kraken2 ] Length of kmer used to build the database
    bracken_read_length             = 100   // [ default: 100 ] Ideal length of reads in your sample, as specified in bracken_build


    /************************
        BINNING PARAMETERS
    *************************/

    min_completeness            = 50        // [INT] Minimum completeness score to keep after dereplication, bin_qc
    max_contamination           = 10        // [INT] Maximum contamination score to keep after dereplication, bin_qc
    min_genome_length           = 10000     // [INT] Minimum genome length to keep after dereplication

    //binning_mode = 'per_assembly' // ['per_assembly', 'cobinning', 'grouped'] Defaults to 'per_assembly'
    remove_unmapped             = false     // Set as true to remove unmapped reads (samtools view -b -F 4) from bam files of reads mapped to contig indices

    // Default binner for all reads
    skip_semibin2               = false     // Requires GPU for optimal performance, otherwise runtime becomes impractical
    semibin_environment         = 'global'  // ['human_gut', 'dog_gut', 'ocean', 'soil', 'cat_gut', 'human_oral', 'mouse_gut', 'pig_gut', 'built_environment', 'wastewater', 'chicken_caecum', 'global']

    // Short read oriented
    skip_vamb                   = true
    skip_taxvamb                = false     // TaxVamb is run by default when Kraken2 annotations are generated. Requires running BOTH Kraken2 on contigs AND Vamb.
    skip_comebin                = true      // Requires GPU for optimal performance
    skip_metabinner             = true
    metabinner_dataset_scale    = 'large'   // ['small', 'large', 'huge'] (default = 'large'). Users can choose "huge" to run MetaBinner on huge datasets with lower memory requirements
    skip_metabat2               = true
    skip_maxbin2                = true
    skip_concoct                = true

    // Long read oriented
    skip_lrbinner               = true
    skip_hmbin                  = false     // [true, false] When false, adds Hifiasm_meta parameter --no-binning to run hmBin algorithm to attempt to bin MAGs (if false, this can block the pipeline if Hifiasm can bin no MAGs from the contigs)
    
    min_contig_length           = 1000      // MetaBinner, Vamb
    min_length_unbinned_contigs = 1000000
    max_unbinned_contigs        = 100

    bin_domain_classification_tool  = 'tiara'
    skip_bin_domain_classification  = true

    bin_refinement                  = 'dastool' // ['dastool', 'binette']
    refine_bins_dastool_threshold   = 0.5

    drep_sa                         = 0.99 // Secondary ANI threshold for dereplication

    /*****************************
        POST-BINNING PARAMETERS
    ******************************/
    // Bin evaluation
    checkm_version  = 'checkm2'     // ['checkm', 'checkm2']
    checkm2_mem     = '--lowmem'    // ['', '--lowmem'] Directly adds the argument '--lowmem' to CheckM2 options. Non-valid arguments will cause CheckM2 to fail.

    // Bin annotation
    skip_dram = false
    skip_bakta = true

    // Bin classification
    skip_gtdbtk = false
    gtdbtk_use_tmp_pplacer_dir = true
    gtdbtk_pplacer_cpus = 1
    gtdbtk_skip_ani = false   // [ true, false ] Include "--skip_ani_screen" argument in gtdbtk (especially to reduce memory requirements). 

    postbinning_input = 'refined_bins_only' // ['refined_bins_only', 'raw_bins_only', 'both']
    exclude_unbins_from_postbinning = true

    // Bin QC
    binqc_tool                           = 'checkm2' // ['checkm', 'checkm2', 'busco']
    busco_auto_lineage_prok              = false
    save_busco_db                        = false
    busco_clean                          = false
    save_checkm_data                     = false
    save_checkm2_data                    = false
    run_gunc                             = false
    gunc_database_type                   = 'progenomes'
    gunc_save_db                         = false

    // taxonomy options
    centrifuge_db                        = null
    krona_db                             = null
    cat_db                               = null
    cat_db_generate                      = false
    cat_official_taxonomy                = false
    save_cat_db                          = false
    gtdbtk_min_completeness              = 50.0
    gtdbtk_max_contamination             = 10.0
    gtdbtk_min_perc_aa                   = 10
    gtdbtk_min_af                        = 0.65


    skip_prodigal = false
}

includeConfig "./configs/process_labels.config"
includeConfig "./configs/qc_modules.config"
includeConfig "./configs/assembly_modules.config"
includeConfig "./configs/read-contig_taxonomy.config"
includeConfig "./configs/binning_modules.config"
includeConfig "./configs/characterization_modules.config"

// Database config file is set in the project directory to avoid recreating during every setup
includeConfig params.database_config

docker.fixOwnership = true
//docker.enabled = true
conda.enabled = true
executor.queueSize = 16
executor.cpus = 16

/*
profiles {
    use_docker {
        docker.enabled = true
    }
    use_conda {
        conda.enabled = true
    }
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    hpc_conda {
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits = [
            memory: ,
            cpus: ,
            time: 
        ]
    }
}


process {
    // defaults for all processes
    cpus = 2
    memory = 2.GB
    // allocations for a specific process
    withName: 'GATK_JOINTGENOTYPING' {
        cpus = 8
    }
}
*/

report.enabled = true
report.file = "reports/report-${new java.util.Date().format('yyyyMMdd-HHmmss')}.html"

trace.enabled = true
trace.file = "reports/trace-${new java.util.Date().format('yyyyMMdd-HHmmss')}.txt"

timeline.enabled = true
timeline.file = "reports/timeline-${new java.util.Date().format('yyyyMMdd-HHmmss')}.html"

dag.enabled = true
dag.file = "reports/dag-${new java.util.Date().format('yyyyMMdd-HHmmss')}.html"
