params {
    /***********************
        SYSTEM PARAMETERS
    ************************/
    maxMem = 124.GB        // [ INT.GB ] Memory available for large jobs
    maxCores = 16       // [ INT ] Memory available for medium jobs

    use_gpu = false     // [ true, false ] 

    /***********************
        Module Management
    ************************/
    resultsDir = "${launchDir}"     // Where to save the results
    database_config = "${projectDir}/configs/databases.config"

    skip_qc = false                 // Skip read quality control
    skip_read_taxonomy = false      // Skip read taxonomy (Kraken2)
    skip_assembly = false           // Skip contig assembly 
    skip_contig_polishing = true    // Skip Nanopore contig polishing
    skip_quast_contigs = false      // Skip contig evaluation
    skip_contig_taxonomy = false     // Skip contig taxonomy (required for Taxvamb)
    skip_contig_coverage = false    // Skip contig coverage reports (by CoverM)
    skip_binning = false             // Skip binning
    skip_bin_refinement = false      // Skip bin refinement (requires >= 2 binners used)
    skip_bin_dereplication = false  // Skip bin dereplication (requires >= 2 bin groups)
    skip_binqc = true               
    skip_bin_evaluation = false      // Skip bin evaluation (by CheckM / CheckM2)
    skip_bin_coverage = false       // Skip bin coverage reports (by CoverM)
    skip_classification = false      // Skip bin classification (by GTDB-TK) 
    skip_annotation = false          // Skip bin annotation (by DRAM)

    /***************************
        READ INPUT PARAMETERS
    ****************************/

    // Input reads from samples.csv
    reads_file = "${launchDir}/samples.csv"

    /*    ILLUMINA READS    */
    short_reads = false                 // [ true, false ]
    paired_short_reads = false          // [ true, false ] Are the short reads paired?
    short_reads_corrected = false       // [ true, false ] Have the short reads been previously corrected?

    /*    NANOPORE READS    */
    nanopore_reads = false              // [ true, false ]
    nanopore_hq = false                 // [ true, false ] Are the specified Nanopore heads hq (Chemistry v14+)?
    nanopore_reads_corrected = false    // [ true, false ] Have the Nanopore reads been previously corrected?

    /*    PACBIO READS    */
    pacbio_reads = false                // [ true, false ]
    pacbio_hifi = true                  // [ true, false ] Are the specified PacBio reads HiFi?
    pacbio_reads_corrected = false      // [ true, false ] Have the PacBio reads been previously corrected?

    /******************************************
        QUALITY TRIMMING & FILTER PARAMETERS
    *******************************************/
    /*    Host reference genome : will be used for short and/or long reads    */
    host_genome = false                 // "/data/users/danross/FLONGLE_bacillus/Bacillus-subtilis-168-genome.fasta" // ['false', $path_to_fasta.fa]

    /*    ILLUMINA READS    */
    skip_fastqc = false                 // [ true, false ] Skip generating fastqc read reports?
    skip_short_read_trimming = false    // [ true, false ] Skip trimming short reads with fastp?
    short_read_trimmer = 'fastp'        // [ 'fastp', 'trimmomatic' ]

    remove_phiX = true                              // [ true, false ] 
    phiX = "${projectDir}/reference_genomes/phiX174_virus.fa"
    short_read_filter = 'bowtie2'                   // [ 'bowtie2', 'minimap2' ] Bowtie2 is recommended for short reads. Minimap2 is available if desired
    bowtie2_sensitivity = 'very-sensitive-local'    // [ 'very-fast-local', 'fast-local', 'sensitive-local', 'very-sensitive-local' ] Sensitivity for bowtie2 local alignment with PhiX, host reads
    minimap2_short_read_preset = false              // [ Defaults to 'sr' when false ]
    
    /*    NANOPORE READS    */
    skip_toulligqc = false              // [ true, false ] Skip generating Nanopore read reports?
    skip_ont_fastplong = false          // [ true, false ] Skip Nanopore read quality assessment and adapter trimming with fastplong?
    minimap2_nanopore_preset = false    // [ false, 'lr:hq', 'map-ont' ] When false, defaults to 'lr:hq' for hq or corrected reads, 'map-ont' otherwise. Also used in Binning preparation

    /*    PACBIO READS    */
    skip_pb_fastplong = true            // [ true, false ] Skip PacBio read quality assessment and adapter trimming with fastplong?
    minimap2_pacbio_preset = false      // [ false, 'map-hifi', 'map-pb' ] When false, defaults to 'map-hifi' for hifi or corrected reads, 'map-pb' otherwise. Also used in Binning preparation

    /*************************
        ASSEMBLY PARAMETERS
    **************************/
    /*    SHORT READ ASSEMBLY    */
    assembler_short_reads = 'megahit'   // [ 'hipmer', 'gatb', 'megahit', 'spades' ]
    // MEGAHIT
    megahit_preset = 'meta'             // [ 'meta', 'meta-sensitive', 'meta-large', 'bulk', 'single-cell' ] Use 'meta-sensitive' for more sensitive but slower analysis; or 'meta-large' for large & complex metagenomes, like soil

    /*    LONG READ ASSEMBLY    */
    assembler_long_reads = 'hifiasm'    // [ 'hifiasm', 'flye', 'mdbg' ]

    // Hifiasm_meta pre-set parameters
    hifiasm_read_selection = false      // -S. Enable read selection: based on read overlaps, reads will be dropped from the most redundant ones until the criteria are satisfied
    hifiasm_force_rs = false            // --force-rs. Force read selection according to indicated threshold
    hifiasm_rs_threshold = false        // [ '--lowq-10', '--lowq-5', '--lowq-3' ]. Runtime X% quantile kmer frequency threshold. Lower value means less reads kept.

    // Flye pre-set parameters
    flye_read_type = false      // [ false, 'pacbio-raw', 'pacbio-corr', 'pacbio-hifi', 'nano-raw', 'nano-corr', 'nano-hq' ] If false, read type will be determined using long-read input parameters (see above)
    flye_use_meta = true        // [ true, false ] Run Flye with "--meta" option
    flye_genome_size = []       // [ INT ] Estimated genome size

    // MDBG pre-set parameters
    mdbg_generate_assembly_graph = false
    mdbg_assembly_graph_k = 'max'
    mdbg_assembly_graph_contigs = true
    mdbg_assembly_graph_reads = true

    /* HYBRID ASSEMBLY*/
    skip_spadeshybrid = true // set as false to assemble complementary short and long reads

    /**************************
        POLISHING PARAMETERS
    ***************************/
    contig_polisher = 'medaka' // ['medaka'] Currently only medaka is supported

    skip_quast = false
    skip_prodigal = false

    /*******************************
        QUAST_ASSEMBLY PARAMETERS
    ********************************/
    quast_assembly_min_contig = false // [INT] (Default: 500). Lower threshold for a contig length (in bp)
    quast_assembly_rna_finding = true // [true, false] Enables ribosomal RNA gene finding
    quast_assembly_gene_finding = false // [true, false] Enables gene finding. Affects performance
    quast_assembly_conserved_gene_finding = false // [true, false]. Linux only. Enables search for Universal Single-Copy Orthologs using BUSCO
    quast_assembly_min_alignment = false // [INT] (Default: 65). Minimum length of alignment (in bp). All alignments shorter than 65 bp will be filtered regardless
    quast_assembly_min_identity = false // [FLOAT] (Default: 90.0 for metaQUAST). Minimum IDY% considered as proper alignment.
    quast_assembly_mem_efficient = false // [true, false] Use one thread, separately per each assembly and each chromosome.
    quast_assembly_space_efficient = false // [true, false] Create only primary output items (reports, plots, quast.log, etc)
    quast_assembly_blast_db = false // [path/to/database.nsq] Use custom BLAST database instead of embedded SILVA 16S rRNA database.

    /***************************************
        READ & CONTIG TAXONOMY PARAMETERS
    ****************************************/
    skip_kracken2 = false
    kraken2_useNames = true // 
    kraken2_confidence = 0.0 // confidence score threshold (default: 0.0); must be in [0,1]
    kraken2_quick = false // Use quick operation (use first hit or hits)
    kraken2_memory_mapping = true // "--memory-mapping" : Avoids preloading full database into memory. Decreases RAM requirements, but is slower
    kraken2_minimizer = false // "--report-minimizer-data" : Report minimizer and distinct minimizer count information in addition to normal Kraken report
    kraken2_zero_counts = false // "--report-zero-counts" : Report counts for ALL taxa, even if counts are zero
    kraken2_minimum_hits = 2 // Minimum number of hit groups (overlapping k-mers sharing the same minimizer) needed to make a call (default 2)

    skip_krona = false // Generate taxonomy html visualizations with Krona 

    skip_bracken = false
    bracken_kmer_len = 35 // [default: 35 for Kraken2] Length of kmer used to build the database
    bracken_read_length = 100 // [default: 100] Ideal length of reads in your sample, as specified in bracken_build
    bracken_classification_level = 'G' // ['D','P','C','O','F','G','S'] Specifies the taxonomic rank to analyze.
    bracken_threshold = 10 // [Default = 10] Minimum number of reads required for a classification at the specified rank
    bracken_summary_NA = 'NA' // What value will be used in the abundance summary table for missing data (ie. taxa not present)

    skip_metaphlan4 = true


    /************************
        BINNING PARAMETERS
    *************************/

    min_completeness = 50 // [INT] Minimum completeness score to keep after dereplication, bin_qc
    max_contamination = 10 // [INT] Maximum contamination score to keep after dereplication, bin_qc
    min_genome_length = 10000 // [INT] Minimum genome length to keep after dereplication

    //binning_mode = 'per_assembly' // ['per_assembly', 'cobinning', 'grouped'] Defaults to 'per_assembly'
    remove_unmapped = false // Set as true to remove unmapped reads (samtools view -b -F 4) from bam files of reads mapped to contig indices

    // Default binner for all reads
    skip_semibin2 = false
    use_semibin1 = false // SemiBin1 is deprecated, only use for back-compatibility
    semibin_environment = 'global' // ['human_gut', 'dog_gut', 'ocean', 'soil', 'cat_gut', 'human_oral', 'mouse_gut', 'pig_gut', 'built_environment', 'wastewater', 'chicken_caecum', 'global']

    // Short read oriented
    skip_vamb = true
    skip_taxvamb = false    // Convert Kraken2 contig annotations to input into Vamb. Taxvamb requires running both Kraken2 on contigs AND Vamb.
    skip_comebin = true // Requires GPU for optimal performance
    comebin_batch_size = 1024 // -b [default = 1024]
    skip_mcdevol = true // Requires GPU
    skip_metabinner = true
    metabinner_dataset_scale = 'large' // ['small', 'large', 'huge'] (default = 'large'). Users can choose "huge" to run MetaBinner on huge datasets with lower memory requirements
    metabinner_kmer_length = 4 // [INT] (default = 4). Kmer length for composition profile generation
    skip_metabat2 = true
    skip_maxbin2 = true
    skip_concoct = true
    // Uses assembly graphs
    skip_repbin = true
    skip_unitigbin = true
    // Long read oriented
    skip_lrbinner = true
    skip_hmbin = false // [true, false] When false, adds Hifiasm_meta parameter --no-binning to run hmBin algorithm to attempt to bin MAGs (if false, this can block the pipeline if Hifiasm can bin no MAGs from the contigs)
    min_contig_length = 1000 // MetaBinner, Vamb
    min_length_unbinned_contigs = 1000000
    max_unbinned_contigs = 100

    bin_domain_classification_tool = 'tiara'
    skip_bin_domain_classification = true

    bin_refinement = 'dastool' // ['dastool', 'binette']
    refine_bins_dastool_threshold = 0.5

    drep_sa = 0.99 // Secondary ANI threshold for dereplication

    /*****************************
        POST-BINNING PARAMETERS
    ******************************/
    // Bin evaluation
    checkm_version = 'checkm2' // ['checkm', 'checkm2']

    // Bin annotation
    skip_dram = false
    skip_bakta = true

    // Bin classification
    skip_gtdbtk = false
    gtdbtk_use_tmp_pplacer_dir = true
    gtdbtk_pplacer_cpus = 1

    postbinning_input = 'refined_bins_only' // ['refined_bins_only', 'raw_bins_only', 'both']
    exclude_unbins_from_postbinning = true

    // Bin QC
    binqc_tool                           = 'checkm2' // ['checkm', 'checkm2', 'busco']
    busco_auto_lineage_prok              = false
    save_busco_db                        = false
    busco_clean                          = false
    save_checkm_data                     = false
    save_checkm2_data                    = false
    run_gunc                             = false
    gunc_database_type                   = 'progenomes'
    gunc_save_db                         = false

    // taxonomy options
    centrifuge_db                        = null
    skip_krona                           = false
    krona_db                             = null
    cat_db                               = null
    cat_db_generate                      = false
    cat_official_taxonomy                = false
    save_cat_db                          = false
    gtdbtk_min_completeness              = 50.0
    gtdbtk_max_contamination             = 10.0
    gtdbtk_min_perc_aa                   = 10
    gtdbtk_min_af                        = 0.65

}

includeConfig "./configs/process_labels.config"
includeConfig "./configs/qc_modules.config"
includeConfig "./configs/assembly_modules.config"
includeConfig "./configs/binning_modules.config"
includeConfig "./configs/characterization_modules.config"

// Database config file is set in the project directory to avoid recreating during every setup
includeConfig params.database_config

docker.fixOwnership = true
//docker.enabled = true
conda.enabled = true
executor.queueSize = 16
executor.cpus = 16

/*
profiles {
    use_docker {
        docker.enabled = true
    }
    use_conda {
        conda.enabled = true
    }
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    hpc_conda {
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits = [
            memory: ,
            cpus: ,
            time: 
        ]
    }
}


process {
    // defaults for all processes
    cpus = 2
    memory = 2.GB
    // allocations for a specific process
    withName: 'GATK_JOINTGENOTYPING' {
        cpus = 8
    }
}
*/

report.enabled = true
report.file = "reports/report-${new java.util.Date().format('yyyyMMdd-HHmmss')}.html"

trace.enabled = true
trace.file = "reports/trace-${new java.util.Date().format('yyyyMMdd-HHmmss')}.txt"

timeline.enabled = true
timeline.file = "reports/timeline-${new java.util.Date().format('yyyyMMdd-HHmmss')}.html"

dag.enabled = true
dag.file = "reports/dag-${new java.util.Date().format('yyyyMMdd-HHmmss')}.html"
