
params {
    bigThreads = 14
    bigMem = 256

    short_reads = "${launchDir}/data/paired_X/*{1,2}.fastq.gz"
    paired_reads = true
    nanopore_reads = null
    pacBio_reads = null
    contaminants = "${projectDir}/reference_genomes/phiX174_virus.fa"
    resultsDir = "./pipeline_test"
    bowtie2_sensitivity = 'very-sensitive-local'

    mh_preset = 'meta-large'
    coassembly = true
    // coassemble_group = false
    // spades_options = null
    megahit_options = null
    // skip_spades = false
    // skip_spadeshybrid = false
    // skip_megahit = false
    skip_quast = false
    skip_prodigal = false

    skip_metabat2 = false
    skip_maxbin2 = false
    skip_concoct = true
    min_contig_size = 1500
    min_length_unbinned_contigs = 1000000
    max_unbinned_contigs = 100

    bin_domain_classification_tool = 'tiara'
    bin_domain_classification = false

    bin_refinement = 'dastool' // ['dastool', 'metawrap', false]
    refine_bins_dastool_threshold = 0.5

    postbinning_input = 'refined_bins_only' // ['refined_bins_only', 'raw_bins_only', 'both']
    exclude_unbins_from_postbinning = true

    // Bin QC
    skip_binqc                           = false
    binqc_tool                           = 'checkm2' // ['checkm', 'checkm2', 'busco']
    busco_db                             = null
    busco_auto_lineage_prok              = false
    save_busco_db                        = false
    busco_clean                          = false
    checkm_download_url                  = "https://zenodo.org/records/7401545/files/checkm_data_2015_01_16.tar.gz"
    checkm_db                            = null
    save_checkm_data                     = false
    checkm2_db                           = "/data/users/danross/databases/CheckM2/CheckM2_database/uniref100.KO.1.dmnd"
    checkm2_db_version                   = 5571251 // corresponds to Zenodo record  ID
    save_checkm2_data                    = false
    run_gunc                             = false
    gunc_database_type                   = 'progenomes'
    gunc_db                              = null
    gunc_save_db                         = false

    // taxonomy options
    centrifuge_db                        = null
    kraken2_db                           = null
    skip_krona                           = false
    krona_db                             = null
    cat_db                               = null
    cat_db_generate                      = false
    cat_official_taxonomy                = false
    save_cat_db                          = false
    skip_gtdbtk                          = false
    gtdb_db                              = "/data/users/danross/databases/GTDB_V08_R214/"
    gtdb_version                         = 2.3 // If using a gtdb database pre-r220, and therefore a download pre-2.4.0. This changes the summary.tsv produced by gtdb-tk
    //gtdb_db                              = "https://data.gtdb.ecogenomic.org/releases/release220/220.0/auxillary_files/gtdbtk_package/full_package/gtdbtk_r220_data.tar.gz"
    gtdb_mash                            = null
    gtdbtk_min_completeness              = 50.0
    gtdbtk_max_contamination             = 10.0
    gtdbtk_min_perc_aa                   = 10
    gtdbtk_min_af                        = 0.65
    gtdbtk_pplacer_cpus                  = 1
    gtdbtk_pplacer_useram                = false

}


docker.fixOwnership = true
//docker.enabled = true
conda.enabled = true

/*
profiles {
    use_docker {
        docker.enabled = true
    }
    use_conda {
        conda.enabled = true
    }
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    hpc_conda {
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits = [
            memory: ,
            cpus: ,
            time: 
        ]
    }
}


process {
    // defaults for all processes
    cpus = 2
    memory = 2.GB
    // allocations for a specific process
    withName: 'GATK_JOINTGENOTYPING' {
        cpus = 8
    }
}
*/

workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}

workflow.onError = {
    println "Error: something when wrong"
}