params {
    /* Short-read Assembly */
    // MEGAHIT
    megahit_fix_cpu_1 = false

    // metaSPAdes
    spades_use_meta = true      // [ true, false ] Run SPAdes with "--meta" option, given paired reads
    
    // GATB Minia

    // metaHipMer
    hipmer_depths = true        // [ true, false ]

    /* Long-read Assembly */
    // Hifiasm-meta

    // metaFlye

    // metaMDBG
    
}

process {
    withName: MEGAHIT {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
    }

    withName: CHECKM2_PREDICT {
        ext.args   = ''
        ext.prefix = { }
        publishDir = [path: { "${params.resultsDir}/BIN_EVALUATION/CheckM2/" }, mode: 'symlink']
    }

    withName: HIFIASM_META {
        ext.args   = ''
        ext.prefix = { }
        publishDir = [path: { "${params.resultsDir}/ASSEMBLY/${meta.id}/Hifiasm_meta" }, mode: 'symlink']
    }
}