params {
    // MEGAHIT
    megahit_fix_cpu_1       = false     // [ true, false ] For reproducibility, fixes run to single thread
    megahit_preset          = 'meta'    // [ 'meta', 'meta-sensitive', 'meta-large', 'bulk', 'single-cell' ] Use 'meta-sensitive' for more sensitive but slower analysis; or 'meta-large' for large & complex metagenomes, like soil

    // metaSPAdes
    spades_use_meta         = true      // [ true, false ] Run SPAdes with "--meta" option, given paired reads
    
    // GATB Minia
    minia_kmer_sizes        = '21,41,61,81,101,121'     // [ false, 'INT,list,comma,separate'] false = use default, 21+20n until max 256. Minia v3.2.6 does not support above k127

    // Hifiasm-meta
    hifiasm_read_selection  = false     // [ true, false ] -S. Enable read selection: based on read overlaps, reads will be dropped from the most redundant ones until the criteria are satisfied
    hifiasm_force_rs        = false     // [ true, false ] --force-rs. Force read selection according to indicated threshold
    hifiasm_rs_threshold    = false     // [ false, '--lowq-10', '--lowq-5', '--lowq-3' ]. Runtime X% quantile kmer frequency threshold. Lower value means less reads kept.

    // metaFlye
    flye_read_type          = false     // [ false, 'pacbio-raw', 'pacbio-corr', 'pacbio-hifi', 'nano-raw', 'nano-corr', 'nano-hq' ] If false, read type will be determined using long-read input parameters (see above)
    flye_use_meta           = true      // [ true, false ] Run Flye with "--meta" option
    flye_genome_size        = []        // [ INT ] Estimated genome size

    // metaMDBG 
    mdbg_generate_assembly_graph    = false
    mdbg_assembly_graph_k           = 'max'
    mdbg_assembly_graph_contigs     = true
    mdbg_assembly_graph_reads       = true

    // QUAST_CONTIGS
    quast_assembly_min_contig               = false     // [ INT ] (Default: 500). Lower threshold for a contig length (in bp)
    quast_assembly_rna_finding              = true      // [ true, false ] Enables ribosomal RNA gene finding
    quast_assembly_gene_finding             = false     // [ true, false ] Enables gene finding. Affects performance
    quast_assembly_conserved_gene_finding   = false     // [ true, false ]. Linux only. Enables search for Universal Single-Copy Orthologs using BUSCO
    quast_assembly_min_alignment            = false     // [ INT ] (Default: 65). Minimum length of alignment (in bp). All alignments shorter than 65 bp will be filtered regardless
    quast_assembly_min_identity             = false     // [ FLOAT ] (Default: 90.0 for metaQUAST). Minimum IDY% considered as proper alignment.
    quast_assembly_mem_efficient            = false     // [ true, false ] Use one thread, separately per each assembly and each chromosome.
    quast_assembly_space_efficient          = false     // [ true, false ] Create only primary output items (reports, plots, quast.log, etc)
    quast_assembly_blast_db                 = false     // [ path/to/database.nsq ] Use custom BLAST database instead of embedded SILVA 16S rRNA database.
    
}

process {
    // uncommenting these will save the respective fastq files for the concatenated reads for coassembly
    withName: CONCATENATE_SHORT_READS_R1 {
        publishDir = [path: { "${params.resultsDir}/CLEAN_READS/${meta.sequencer}/concatenated" }, mode: 'symlink']
    }

    withName: CONCATENATE_SHORT_READS_R2 {
        publishDir = [path: { "${params.resultsDir}/CLEAN_READS/${meta.sequencer}/concatenated" }, mode: 'symlink']
    }

    withName: CONCATENATE_LONG_READS {
        publishDir = [path: { "${params.resultsDir}/CLEAN_READS/${meta.sequencer}/concatenated" }, mode: 'symlink']
    }

    // Short read assemblers
    withName: MEGAHIT {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/ASSEMBLY/${meta.id}/" }, mode: 'symlink'] // sub-folder 'megahit' is created by module
    }

    withName: METASPADES {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/ASSEMBLY/${meta.id}/" }, mode: 'symlink'] // sub-folder 'metaspades' is created by module
    }
    
    withName: GATB_MINIA_PIPELINE {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/ASSEMBLY/${meta.id}/gatb" }, mode: 'symlink']
    }

    // Long-read assemblers
    withName: HIFIASM_META {
        ext.args   = ''
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/ASSEMBLY/${meta.id}/hifiasm_meta" }, mode: 'symlink']
    }

    withName: HIFIASM_CONTIG_GFA2FA {
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/ASSEMBLY/${meta.id}/hifiasm_meta" }, mode: 'symlink']
    }

    withName: HIFIASM_CREATE_BIN_FILES {
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BINS/initial/${meta.id}-${meta.assembler}/hmbin" }, mode: 'symlink']
    }

    withName: METAFLYE {
        ext.args   = ''
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/ASSEMBLY/${meta.id}/metaflye" }, mode: 'symlink']
    }

    withName: METAMDBG {
        ext.asm_args    = ''
        ext.gfa_args    = ''
        ext.prefix      = {}
        publishDir      = [path: { "${params.resultsDir}/ASSEMBLY/${meta.id}/metamdbg" }, mode: 'symlink']
    }

    withName: MEDAKA {
        ext.args   = ''
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/ASSEMBLY/${meta.id}/medaka-${meta.assembler}" }, mode: 'symlink']
    }

    // Post-assembly
    withName: QUAST_CONTIGS {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/QUAST/contigs" }, mode: 'symlink']
    }

    withName: COVERM_CONTIG {
        ext.args   = '-m mean rpkm covered_fraction'
        ext.prefix = { "${meta.id}_${meta.assembler}_coverage" }
        publishDir = [path: { "${params.resultsDir}/ASSEMBLY/${meta.id}/" }, mode: 'symlink', pattern: "*.txt"]
    }
}