process {

    // Binning prep
    withName: SEMIBIN_CONCATENATE_FASTA {
        // "SemiBin2 concatenate_fasta" : for concatenating contig files to be binned together
        ext.args   = [].join(' ').trim()
        // Save only concatenated contig files, not symlinks to individual files passed through process
        publishDir = [
            path:    { "${params.resultsDir}/ASSEMBLY/concatenated_contigs/${meta.id}-${meta.assembler}" },
            mode:    'copy',
            saveAs:  { filename ->
                def f = task.workDir.resolve(filename).toFile()
                f.isSymbolicLink() ? null : filename
            }
        ]
    }

    withName: MINIMAP2_ASSEMBLY_INDEX {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/BINS/initial/${meta.id}-${meta.assembler}/minimap2_output/" }, mode: 'symlink']
    }

    withName: MINIMAP2_ASSEMBLY_ALIGNMENT {
        // "minimap2 --eqx -a [options]"
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/BINS/initial/${meta.id}-${meta.assembler}/minimap2_output/" }, mode: 'symlink']
    }

    withName: JGISUMMARIZEBAMCONTIGDEPTHS {
        //publishDir = [path: { "${params.resultsDir}/BINS/initial/${meta.id}-${meta.assembler}/jgi_depths/" }, mode: 'symlink']
    }

    withName: VAMB_CONVERT_ABUNDANCE {
        publishDir = [path: { "${params.resultsDir}/BINS/initial/${meta.id}-${meta.assembler}/vamb_files/" }, mode: 'symlink']
    }

    withName: VAMB_FILTER_TAXONOMY {
        publishDir = [path: { "${params.resultsDir}/BINS/initial/${meta.id}-${meta.assembler}/vamb_files/" }, mode: 'symlink']
    }

    withName: CONCOCT_CUTUPFASTA {
        ext.args   = [].join(' ').trim()
        ext.prefix = {"${meta.id}_cutupconcoct"}
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/concoct/work_files/cutUpFasta" }, mode: 'symlink']
    }

    withName: CONCOCT_CONCOCTCOVERAGETABLE {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/concoct/work_files/coverageTable" }, mode: 'symlink']
    }

    withName: CONCOCT_CONCOCT {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/concoct/work_files/concoct" }, mode: 'symlink']
    }

    withName: CONCOCT_MERGECUTUPCLUSTERING {
        ext.args   = [].join(' ').trim()
        ext.prefix = {"${meta.id}_mergeClustering"}
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/concoct/work_files/mergeClustering" }, mode: 'symlink']
    }

    // Binners
    withName: SEMIBIN2 {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/semibin2" }, mode: 'symlink']
    }

    withName: COMEBIN {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/comebin" }, mode: 'symlink']
    }

    withName: VAMB_BIN {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/${meta.binner}" }, mode: 'symlink']
    }

    withName: METABAT2 {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/metabat2" }, mode: 'symlink']
    }

    withName: METABINNER {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/metabinner" }, mode: 'symlink']
    }

    withName: MAXBIN2 {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/maxbin2" }, mode: 'symlink']
    }

    withName: CONCOCT_EXTRACTFASTABINS {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/concoct" }, mode: 'symlink']
    }

    withName: LRBINNER {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/BINNING/initial/${meta.id}-${meta.assembler}/lrbinner" }, mode: 'symlink']
    }

    
    // Post-binning
    withName: DREP_COMPARE {
        ext.args   = [
            "-sa ${params.drep_sa}"
            ].join(' ').trim()
        ext.prefix = { "${meta.id}_coverage" }
        publishDir = [path: { "${params.resultsDir}/BINS/" }, mode: 'symlink', pattern: "*.tsv"]
    }

    withName: DREP_DEREPLICATE {
        ext.args   = [
            "-comp ${params.min_completeness}",
            "-con ${params.max_contamination}",
            "-l ${params.min_genome_length}",
            "-sa ${params.drep_sa}"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_coverage" }
        publishDir = [path: { "${params.resultsDir}/BINS/" }, mode: 'symlink', pattern: "*.tsv"]
    }
    
}