process {

    withName: LRBINNER {
        ext.args   = [].join(' ').trim()
        ext.prefix = { }
    }

    withName: COMEBIN {
        ext.args   = [
            "-sa ${params.drep_sa}"
            ].join(' ').trim()
        ext.prefix = { }
        publishDir = [path: { "${launchDir}/BINNING/${meta.id}/${meta.assembler}-COMEbin" }, mode: 'symlink']
    }

    withName: DREP_COMPARE {
        ext.args   = [
            "-sa ${params.drep_sa}"
            ].join(' ').trim()
        ext.prefix = { "${meta.id}_coverage" }
        publishDir = [path: { "${launchDir}/BINS/" }, mode: 'symlink', pattern: "*.tsv"]
    }

    withName: DREP_DEREPLICATE {
        ext.args   = [
            "-comp ${params.min_completeness}",
            "-con ${params.max_contamination}",
            "-l ${params.min_genome_length}",
            "-sa ${params.drep_sa}"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_coverage" }
        publishDir = [path: { "${launchDir}/BINS/" }, mode: 'symlink', pattern: "*.tsv"]
    }

}