
process {
    // Bin stats modules : checkm, checkm2, coverm, gtdb, dram
    
    withName: COVERM_GENOME_ORIGINAL {
        ext.args   = '-m mean relative_abundance covered_fraction'
        ext.prefix = { "${meta.id}_coverage" }
        publishDir = [path: { "${params.resultsDir}/BINS/" }, mode: 'symlink', pattern: "*.tsv"]
    }


    withName: BAKTA_BAKTA {
        ext.args   = ''
        ext.prefix = { }
        publishDir = [path: { "${params.resultsDir}/BIN_ANNOTATION/Bakta/" }, mode: 'symlink']
    }
    
    withName: GTDBTK_CLASSIFYWF {
        ext.args   = [
            "--extension fa",
            "--pplacer_cpus ${params.gtdbtk_pplacer_cpus}",
            params.gtdbtk_skip_ani ? "--skip_ani_screen" : params.gtdb_version == '2.6.1' ? "" : !params.gtdb_mash_db ? "--skip_ani_screen" : "--mash_db $params.gtdb_mash_db"
        ].join(' ').trim()
        ext.prefix = { }
        publishDir = [path: { "${params.resultsDir}/BIN_CLASSIFICATION/GTDB-TK/" }, mode: 'symlink']
    }
}