
process {
    // Contig stats modules : bracken, coverm, kraken2, quast
    withName: COVERM_CONTIG {
        ext.args   = '-m mean rpkm covered_fraction'
        ext.prefix = { "${meta.id}_${meta.assembler}" }
        publishDir = [path: { "${params.resultsDir}/ASSEMBLY/${meta.id}/" }, mode: 'symlink', pattern: "*.txt"]
    }

    // Bin stats modules : checkm, checkm2, coverm, gtdb, dram
    withName: COVERM_GENOME_ORIGINAL {
        ext.args   = '-m mean relative_abundance covered_fraction'
        ext.prefix = { "${meta.id}_coverage" }
        publishDir = [path: { "${params.resultsDir}/BINS/" }, mode: 'symlink', pattern: "*.tsv"]
    }

}