params {
    /*************************
        Database parameters
    **************************/
    // Read + Contig taxonomy
    kraken2_db              = false     // [false, "$PATH/to/existing/database"]
    kraken2_hashk2d_size    = 95.GB     // Size of kraken2_db/hash.k2d file, to establish memory requirements and usage of --memory-mapping
    bracken_build_exists    = false     // Has bracken been built for the specified kraken2db? 
                                        // Ensure that the details in READ & CONTIG TAXONOMY PARAMETERS match the existing build                                           

    // Bin evaluation
    //busco_db = null
    checkm2_db  = false     // [false, "$PATH/to/existing/database/CheckM2_database/uniref100.KO.1.dmnd"]
    checkm_db   = false     // [false, "$PATH/to/existing/database/CheckM_database"]

    // Bin taxonomy
    gtdb_db         = false     // [false, "$PATH/to/existing/gtdb/directory/"]
    gtdb_version    = '2.6.1'   // ['2.6.1', '2.4.0', '2.3.2']
                                // Specify the gtdb version - full compatibility details at https://ecogenomics.github.io/GTDBTk/installing/index.html
                                // Use v2.6.1 with release226
                                // Use v2.4.0* with release220
                                // Use v2.3.2* with release214
    // *Versions <2.5.0 require the (--skip_ani_screen | --mash_db MASH_DB) parameter. 
    gtdb_mash_db    = false     // [false, "$PATH/to/existing/gtdb_mash/database"] 

    // Bin annotation
    bakta_db        = false     // [false, "$PATH/to/existing/bakta/db"]
    // If you already have DRAM installed, use <DRAM-setup.py export_config > my_config.txt> to create a config file
    dram_config_loc = false     // [false, "$PATH/to/existing/my_config.txt"]

    /**********************************
        Database download parameters
    ***********************************/
    databaseDownloadDir     = "${params.resultsDir}/databases"  // Directory to download new databases
    skip_database_download  = false                             // Only skip if all necessary databases are set

    // Kraken2
    kraken2_build       = '--standard'  // ['--standard', '--special {greengenes,rdp,silva,gtdb}']
    kraken2_kmer_len    = false         // Integer. [Default: 35] Specify a desired kmer length
    kraken2_max_db_size = false         // Integer. Maximum number of bytes for Kraken 2 hash table: [--max-db-size INT] ex "10GiB", "4TB", "10 gigabytes", "4 terabytes"

    // Bracken
    bracken_memory_map  = false         // Use --memory-mapping parameter during bracken-build. Will default to true if maxMem < 240.GB

    // CheckM2
    checkm2_db_version      = 5571251   // corresponds to Zenodo record  ID
    checkm2_download_dir    = "${params.databaseDownloadDir}/checkm2" 

    // CheckM
    checkm_download_url     = "https://zenodo.org/records/7401545/files/checkm_data_2015_01_16.tar.gz"

    // Bakta
    bakta_download_dir  = "${params.databaseDownloadDir}/bakta"
    bakta_type          = 'light'   // ['light', 'full'] Use 'light' for faster runtime or to conserve storage

    // DRAM
    dram_kegg_loc       = false     // [false, "$PATH/to/kegg.pep"] kegg.pep is the path to the amino acid FASTA file downloaded from KEGG
    dram_skip_uniref    = true      // [true, false] Installing uniref requires ~5hrs and 512Gb RAM

    // GTDB
    gtdb_download   = "https://data.gtdb.aau.ecogenomic.org/releases/release226/226.0/auxillary_files/gtdbtk_package/full_package/gtdbtk_r226_data.tar.gz"

}

process {
    // Kraken2 download
    withName: K2_DOWNLOAD_TAXONOMY {
        ext.args = [].join(' ').trim()
    }

    withName: K2_BUILD {
        ext.args = [].join(' ').trim()
    }

    // Bracken setup
    withName: BRACKEN_BUILD {
        ext.args = [].join(' ').trim()
    }

    // CheckM, CheckM2 downloads
    withName: CHECKM_UNTAR {
        ext.args   = [].join(' ').trim()
        ext.args2  = [].join(' ').trim()
        ext.prefix = { }
    }

    withName: CHECKM2_DATABASEDOWNLOAD {
        ext.args = [].join(' ').trim()
    }

    // Bakta download
    withName: BAKTA_BAKTADBDOWNLOAD {
        ext.args = ["--type ${params.bakta_type}"
            ].join(' ').trim()
    }

    // DRAM download
    withName: DRAM_IMPORT_CONFIG {
        ext.args = [""].join(' ').trim() 
    }

    withName: DRAM_PREPARE_DB {
        // Add existing individual db locations using the --{db_name}_loc flags such as --uniref_loc and --viral_loc
        ext.args = [""].join(' ').trim() 
    }
}