
process {
    // Bin evaluation
    withName: CHECKM2_PREDICT {
        ext.args   = [
            "${params.checkm2_mem}"
            ].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BIN_EVALUATION/checkm2" }, mode: 'symlink']
    }

    withName: CHECKM_LINEAGEWF {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BIN_EVALUATION/checkm" }, mode: 'symlink']
    }

    // Bin dereplication
    withName: DREP_COMPARE {
        ext.args   = [
            "-sa ${params.drep_sa}"
            ].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BINS/dereplicated/compare" }, mode: 'symlink']
    }

    withName: DREP_DEREPLICATE {
        ext.args   = [
            "-comp ${params.min_completeness}",
            "-con ${params.max_contamination}",
            "-l ${params.min_genome_length}",
            "-sa ${params.drep_sa}"
        ].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BINS/dereplicated/dRep" }, mode: 'symlink']
    }

    withName: RENAME_DEREPLICATED_BINS {
        publishDir = [path: { "${params.resultsDir}/BINS/dereplicated/renamed" }, mode: 'symlink']
    }

    // Bin classification
    withName: GTDBTK_CLASSIFYWF {
        ext.args   = [
            "--extension fa",
            "--pplacer_cpus ${params.gtdbtk_pplacer_cpus}",
            params.gtdbtk_skip_ani ? "--skip_ani_screen" : params.gtdb_version == '2.6.1' ? "" : !params.gtdb_mash_db ? "--skip_ani_screen" : "--mash_db $params.gtdb_mash_db"
        ].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BIN_CLASSIFICATION/gtdb-tk/" }, mode: 'symlink']
    }

    // Bin coverage
    withName: COVERM_GENOME_ORIGINAL {
        ext.args   = [
            "-m mean relative_abundance covered_fraction"
            ].join(' ').trim()
        ext.prefix = { "${meta.id}_coverage" }
        publishDir = [path: { "${params.resultsDir}/BIN_COVERAGE/" }, mode: 'symlink', pattern: "*.tsv"]
    }

    withName: COVERM_GENOME_GROUPED {
        ext.args   = [
            "-m mean relative_abundance covered_fraction"
            ].join(' ').trim()
        ext.prefix = { "${meta.id}_coverage" }
        publishDir = [path: { "${params.resultsDir}/BIN_COVERAGE/" }, mode: 'symlink', pattern: "*.tsv"]
    }

    // Bin annotation
    withName: DRAM_ANNOTATE {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/BIN_ANNOTATION/dram" }, mode: 'symlink']
    }

    withName: DRAM_DISTILL {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/BIN_ANNOTATION/dram" }, mode: 'symlink']
    }

    withName: BAKTA_BAKTA {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BIN_ANNOTATION/bakta" }, mode: 'symlink']
    }

    withName: BAKTA_COLLECT_ANNOTATION_STATS {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${params.resultsDir}/BIN_ANNOTATION/bakta/collected" }, mode: 'symlink']
    }
}