params {

    /*    FASTP Parameters    */
    fastp_adapter_sequences = false         // [ 'adapter_sequence_R1', 'adapter_sequence_R2' ]
    fastp_auto_adapter_detection = true     // [ true, false ]
    fastp_deduplication = true              // [ true, false ]
    fastp_qualified_quality_phred = 15      // [ Default = 15 ] Minimum phred value defined as qualified
    fastp_unqualified_percent_limit = 40    // [ Default = 40 ] Percent of bases allowed below the qualified value
    fastp_disable_length_filtering = false  // [ true, false ]
    fastp_length_required = 36              // [ INT ]

    /*    FASTPLONG Parameters    */
    fplong_disable_quality = false          // [ true, false ] Quality filtering is enabled by default
    fplong_n_base_limit = false             // [ false, INT ] Disabled by default. Max number of N bases permitted per read
    fplong_n_per_limit = false              // [ false[use default], INT[0-100] ] Enabled by default, default unspecified. Max percent of reads permitted to be N
    fplong_min_phred = 10                   // [ false, INT ] Program default = 15. The minimum value for a base to be qualified
    fplong_unqualified_per = 40             // [ false, INT[0-100] ] Program default = 40. Percent of bases allowed to be unqualified
    fplong_mean_qual = false                // [ false, INT ] Default = 0, or no requirement. Discards reads with average quality score < mean_qual
    fplong_min_length = false               // [ false, INT ] Default = 0, or no limit.  Discards reads shorter than value
    fplong_max_length = false               // [ false, INT ] Default = 0 , or no limit. Discards reads longer than value
}

process {


}