params {

    /*    FASTP Parameters    */
    fastp_adapter_sequences = false         // [ 'adapter_sequence_R1', 'adapter_sequence_R2' ]
    fastp_auto_adapter_detection = true     // [ true, false ]
    fastp_deduplication = true              // [ true, false ]
    fastp_qualified_quality_phred = 15      // [ Default = 15 ] Minimum phred value defined as qualified
    fastp_unqualified_percent_limit = 40    // [ Default = 40 ] Percent of bases allowed below the qualified value
    fastp_disable_length_filtering = false  // [ true, false ]
    fastp_length_required = 36              // [ INT ]

    /*    FASTPLONG Parameters    */

}

process {


}