params {

    // BOWTIE2 Parameters
    bowtie2_sensitivity = 'very-sensitive-local'    // [ 'very-fast-local', 'fast-local', 'sensitive-local', 'very-sensitive-local' ] Sensitivity for bowtie2 local alignment with PhiX, host reads
    
    // MINIMAP2 Parameters
    minimap2_nanopore_preset = false        // [ false, 'lr:hq', 'map-ont' ] When false, defaults to 'lr:hq' for hq or corrected reads, 'map-ont' otherwise. Also used in Binning preparation
    minimap2_pacbio_preset = false          // [ false, 'map-hifi', 'map-pb' ] When false, defaults to 'map-hifi' for hifi or corrected reads, 'map-pb' otherwise. Also used in Binning preparation

    // FASTP Parameters
    fastp_adapter_sequences = false         // [ 'adapter_sequence_R1', 'adapter_sequence_R2' ]
    fastp_auto_adapter_detection = true     // [ true, false ]
    fastp_deduplication = true              // [ true, false ]
    fastp_qualified_quality_phred = 15      // [ Default = 15 ] Minimum phred value defined as qualified
    fastp_unqualified_percent_limit = 40    // [ Default = 40 ] Percent of bases allowed below the qualified value
    fastp_disable_length_filtering = false  // [ true, false ]
    fastp_length_required = 36              // [ INT ]

    // FASTPLONG Parameters
    fplong_disable_quality = false          // [ true, false ] Quality filtering is enabled by default
    fplong_n_base_limit = false             // [ false, INT ] Disabled by default. Max number of N bases permitted per read
    fplong_n_per_limit = false              // [ false[use default], INT[0-100] ] Enabled by default, default unspecified. Max percent of reads permitted to be N
    fplong_min_phred = 10                   // [ false, INT ] Program default = 15. The minimum value for a base to be qualified
    fplong_unqualified_per = 40             // [ false, INT[0-100] ] Program default = 40. Percent of bases allowed to be unqualified
    fplong_mean_qual = false                // [ false, INT ] Default = 0, or no requirement. Discards reads with average quality score < mean_qual
    fplong_min_length = false               // [ false, INT ] Default = 0, or no limit.  Discards reads shorter than value
    fplong_max_length = false               // [ false, INT ] Default = 0 , or no limit. Discards reads longer than value
}

process {

    /*    Short reads    */
    withName: FASTQC_IN {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/QC/${meta.id}/Pre-FastQC" }, mode: 'symlink']
    }

    withName: FASTQC_OUT {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/QC/${meta.id}/Post-FastQC" }, mode: 'symlink']
    }

    withName: MULTIQC_IN {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/QC/MultiQC/Pre-FastQC" }, mode: 'symlink']
    }

    withName: MULTIQC_OUT {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/QC/MultiQC/Post-FastQC" }, mode: 'symlink']
    }

    withName: FASTP {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/QC/${meta.id}/fastp" }, mode: 'symlink']
    }

    withName: TRIMMOMATIC {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/QC/${meta.id}/trimmomatic" }, mode: 'symlink']
    }

    withName: BOWTIE2_HOST_INDEX {
        ext.args   = [].join(' ').trim()
        //publishDir = [path: { "${params.resultsDir}/QC/" }, mode: 'symlink']
    }

    withName: BOWTIE2_FILTER_PHIX {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/CLEAN_READS/Illumina" }, mode: 'symlink']
    }

    withName: BOWTIE2_FILTER_HOST {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/CLEAN_READS/Illumina" }, mode: 'symlink']
    }


    /*    Long reads    */
    withName: TOULLIGQC_IN {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${launchDir}/QC/${meta.id}/Pre-ToulligQC" }, mode: 'symlink']
    }

    withName: TOULLIGQC_OUT {
        ext.args   = [].join(' ').trim()
        ext.prefix = {}
        publishDir = [path: { "${launchDir}/QC/${meta.id}/Post-ToulligQC" }, mode: 'symlink']
    }

    withName: FASTPLONG {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/QC/${meta.id}/fastplong" }, mode: 'symlink']
    }

    withName: MINIMAP2_INDEX {
        ext.args   = [].join(' ').trim()
        //publishDir = [path: { "${params.resultsDir}/QC/${meta.id}/minimap2_alignment/" }, mode: 'symlink']
    }

    withName: MINIMAP2_FILTER_HOST {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/QC/${meta.id}/minimap2_alignment/" }, mode: 'symlink']
    }
}