params {

    // Kraken2
    kraken2_useNames        = true      // [ true, false ] Output Kraken2 results with taxa names
    kraken2_confidence      = 0.0       // [ FLOAT ] confidence score threshold (default: 0.0); must be in [0,1]
    kraken2_quick           = false     // [ 'true', 'false' ] Use quick operation (use first hit or hits)
    kraken2_minimizer       = false     // [ 'true', 'false' ] "--report-minimizer-data" : Report minimizer and distinct minimizer count information in addition to normal Kraken report
    kraken2_zero_counts     = false     // [ 'true', 'false' ] "--report-zero-counts" : Report counts for ALL taxa, even if counts are zero
    kraken2_minimum_hits    = 2         // [ INT ] Minimum number of hit groups (overlapping k-mers sharing the same minimizer) needed to make a call (default 2)

    // Bracken
    bracken_threshold       = 10        // [Default = 10] Minimum number of reads required for a classification at the specified rank
    bracken_summary_NA      = 'NA'      // What value will be used in the abundance summary table for missing data (ie. taxa not present)
}

process {

    withName: KRAKEN2 {
        // Uses the 'k2 classify' command
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/KRAKEN2/${file_type}/${meta.id}" }, mode: 'symlink']
    }

    withName: KRONA_K2_IMPORT_TAXONOMY {
        // ktImportTaxonomy
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/KRAKEN2/${file_type}/${meta.id}" }, mode: 'symlink']
    }

    withName: BRACKEN {
        ext.args   = [].join(' ').trim()
        publishDir = [path: { "${params.resultsDir}/BRACKEN/${file_type}/${meta.id}" }, mode: 'symlink']
    }

    withName: BRACKEN_SUMMARY {
        publishDir = [path: { "${params.resultsDir}/BRACKEN/${file_type}" }, mode: 'symlink']
    }

    withName: COMBINE_BRACKEN_OUTPUTS {
        publishDir = [path: { "${params.resultsDir}/BRACKEN/${file_type}" }, mode: 'symlink']
    }

    withName: TAXCONVERTER {
        ext.args   = [].join(' ').trim()
        ext.prefix = {} 
        publishDir = [path: { "${params.resultsDir}/KRAKEN2/contigs/${meta.id}/converted" }, mode: 'symlink']
    }    
}